services:
  web:
    container_name: portfolio_cs
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
        # SMTP Configuration
      - SMTP_HOST=${SMTP_HOST:-smtp.gmail.com}
      - SMTP_PORT=${SMTP_PORT:-587}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_FROM_EMAIL=${SMTP_FROM_EMAIL}
        # Drive
      - URL_DRIVE_PORTFOLIO_ES=${URL_DRIVE_PORTFOLIO_ES}
      - URL_DRIVE_PORTFOLIO_EN=${URL_DRIVE_PORTFOLIO_EN}